
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

body{
	
	margin: 10px;
	padding:0;
	background-image: url("cool-website-background-08.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;	
}

.form{
	
	width: 400px;
    margin: 150px auto;
    height: 40%;
    background: aqua;
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.3);
}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  border-radius: 50px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 5px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
   border-radius: 60px;
  color: white;
  padding: 15px 15px;
  border: brown;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.btn 2 {
background: white;
    border-radius: 60px;
    width: 130px;
    height:40px;
    position: relative;
    left: 210px;
    bottom:40px;
    cursor: pointer;
  
}


.btn:hover {
  opacity: 1;
}




icons{

    position: absolute;
    margin-top: 50px;
    left: 30%;
    transform: translate(-50%,-50%);
    display: flex; 
    }
	
.icons li
{

list-style: none;
margin: 0 50px;


}

.icons li a 
{
width: 50px;
height: 50px;
background-color: #808080;
text-align: center;
line-height: 50px;
font-size: 20px;
margin: 0 10px;
display: block;
border-radius: 30%;
position: relative;
overflow: hidden;
border: 3px solid #fff;
z-index: 1;


}

    .icons li a:hover .icon
    {
    color: #fff;
    transform: rotateY(360deg);
    
    
    }
    .icons li a:before{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        transition: .5s;
        z-index: 3;
    }
    .icons li a:hover:before{
    
    top: 5;



